.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

@media(max-width: 992px) {
  .cards-booking {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-booking {
    grid-template-columns: 1fr;
  }
}
