
<div class="container">
    <!-- Nav tabs -->
  <ul class="nav nav-pills nav-justified bg-white border border-dark" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Estado de mis reservas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Solicitudes pendientes de aprobación</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <% if @as_renter_pending_review.any? %>
        <div class="container bg-white border border-bottom border-secondary ">
          <h3 class="mt-4 text-center text-primary">¿Cómo fueron tus rentals? Calificalos!</h3>
          <%= render "bookings_grid", bookings: @as_renter_pending_review %>
        </div>
      <% end %>

      <div class="container">
        <%= render "bookings_grid", bookings: @as_renter_non_pening_review %>
      </div>

    </div>

    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render "bookings_grid", bookings: @as_owner_bookings %>
    </div>

  </div>
</div>
