.card-product-booking {
  overflow: hidden;
  height: 200px;
  width: 400px;
  margin: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 4px;
}

.card-product-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-booking .card-product-infoss {
  padding: 16px;
  margin-left: 20px;
}

.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-booking {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-booking {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) {
  .cards-booking {
    grid-template-columns: 1fr 1fr;
  }
}


// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1400px) {
//   .cards-booking {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }


.hvr-grow-s {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow-s:hover,
.hvr-grow-s:focus,
.hvr-grow-s:active {
    transform: scale(1.06);
}
